<link rel="stylesheet" href="{{url_for('static', filename='style.css' )}}">
{% extends "base.html" %}

{% block content %}

        <body class="body" >
   
        <h2>RESERVATION POLICY</h2>
        <h3>Cancellation Policy</h3>

        <p>At HIDE we will occasionally ask for card details to secure larger bookings, we would always do this via secure link and never by telephone. </p>
        <p>We understand that plans may change at the last minute and we are as flexible as possible should you wish to move</p>
        <p>or change your reservation. Should you need to cancel your booking, we simply request at least 24 hours notice to do so to avoid a possible cancellation charge.</p>

        <h3>Dress Code</h3>

        <p>We want our guests to feel as comfortable at Hide as they would in their own home. We do not have any formal dresscode, most of our guests opt for smart casual.</p>
        
</body>

{% endblock %}
