<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="{{url_for('static', filename='style.css' )}}">
    <title>HIDE</title>
</head>

<body>
    <header class="inner-header">
        <!-- <h1>HIDE</h1> -->
        <div class="header_links">
            <a href="https://goo.gl/maps/N1zp7Us9b47EBvLB8">85 PICCADILLY LONDON W1J 7NB</a>
        </div>
        <div >
            <a href="/HIDE"> <img class="logo" src="/static/img/HIDElogo.png" height="150" alt="logo"></a>
        </div>
        <div >     
            <ul class="header_right">
                <li>
            <a href="tel:078 9455 9624">T: 012 3456 7890</a>
                </li>
                <li>
            <a href="/HIDE/reservation">RESERVATIONS</a>
                </li>
            </ul>    
            
        </div>
    </header>
    <main>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </main>
    <footer>
        <p><a href="/HIDE"> Home </a></p>
        <p><a href="https://www.instagram.com/hide_restaurant/"> Instagram </a></p>
        <p><a href="/HIDE/team"> Team </a></p> 
        <p><a href="/HIDE/careers"> Career </a></p> 
        <p><a href="/HIDE/reservation_policy"> Reservation Policy </a></p> 
        <!-- <p><a href="file:///Users/user/CodeClanWork/e61/first_roject/Restaurant/templates/pages/policy.html"> Reservation Policy </a></p>  -->
    </footer>
</body>

</html>

