{% extends "base.html" %}

{% block content %}
  
<body>
    <head> 
        <img src="img/staircase.jpeg" alt="head picture" width="500" height="600">
        <h3>HIDE</h3>
            <p>HIDE is the hearth of the restaurant, providing nourishment & comfort.</p> 
            <p>Shelter from the bustling world outside & let us look after you. </p>
            
            <p>Serving breakfast, lunch & dinner, a sizeable a la carte menu</p>
            <p>showcases the very best seasonal offerings, largely sourced from a close network</p>
            <p>of small farmers & suppliers from across the UK.</p>
            
            <p>Everything is made in-house wherever possible: from charcuterie & bread to jams,</p>
            <p>juices and pickles.</p> 
            
            <p>Attentive but informal, simple but sophisticated.</p>

            <h2><a href="/HIDE/reservation"></a>BOOK A TABLE</h2>
    </head>
    <article>
            <h2> MENUS </h2>
        <div class="menus">
                <div class="items">
                <h2><a href="file:///Users/user/CodeClanWork/e61/First%20Project/Restaurant/files/Project_Menu__Testing_menu.pdf">  A LA CARTE </a></h2>
                <img src="img/A LA CARTE.jpeg" alt="menu picture" width="500" height="600">
                <p>An extensive a la carte menu is served every day on the ground floor. Be it a light bite from the grazing menu, long lunch or celebratory dinner; there is something for everyone.</p>

                <p>Reflective of HIDE’s signature style and lightness of touch, dishes are simple, seasonal, nourishing & delicious.</p>

                <h2>MONDAY - THURSDAY:</h2>
                <h2>12:00PM -2.15PM & 6:00PM 9:30PM</h2>
                <h2>FRIDAY:</h2>
                <h2>12:00PM - 2:15PM & 6:00PM - 9:30PM </h2>
                <h2>SATURDAY - SUNDAY</h2>
                <h2>12:30PM - 2:45PM & 6:00PM - 9:30PM</h2>
            </div>

            <div class="items">
                <h2><a href="file:///Users/user/CodeClanWork/e61/First%20Project/Restaurant/files/Project_Menu__Testing_menu.pdf">  TESTING MENUS </a></h2>
                <img src="img/TestingMenu.jpeg" alt="menu picture" width="500" height="600">
                <p>A frequently changing seasonal set lunch, available every day & easily enjoyed within an hour.</p>

                <h2>MONDAY - THURSDAY:</h2>
                <h2>12:00PM -2.15PM </h2>
                <h2>SATURDAY - SUNDAY</h2>
                <h2>12:30PM - 2:45PM </h2>
            </div>
        </div>
            <h2> GALLERY</h2>
           
            <img class="one" src="img/1.jpeg" width="300" height="300">
            <img class="one" src="img/2.jpeg" width="300" height="300">
            <img class="one" src="img/3.jpeg" width="300" height="300">
            <img class="twp" src="img/4.jpeg" width="300" height="300">
            <img class="two" src="img/5.jpeg" width="300" height="300">
            <img class="one" src="img/6.jpeg" width="300" height="300">
            <img class="one" src="img/7.jpeg" width="300" height="300">
            <img class="one" src="img/8.jpeg" width="300" height="300">
            <img class="two" src="img/9.jpeg" width="300" height="300">
            <img class="two" src="img/10.jpeg" width="300" height="300">
            <img class="two" src="img/11.jpeg" width="300" height="300">
            <img class="two" src="img/12.jpeg" width="300" height="300">
    </article>


</body>







  {% endblock %}
