{% extends "base.html" %}

{% block content %}
  
<section>
    <head> 
        <img src="/static/img/staircase.jpeg" width = "100%", alt="head picture">
        <h3>HIDE</h3>
            <p>HIDE is the hearth of the restaurant, providing nourishment & comfort.</p> 
            <p>Shelter from the bustling world outside & let us look after you. </p>
            
            <p>Serving breakfast, lunch & dinner, a sizeable a la carte menu</p>
            <p>showcases the very best seasonal offerings, largely sourced from a close network</p>
            <p>of small farmers & suppliers from across the UK.</p>
            
            <p>Everything is made in-house wherever possible: from charcuterie & bread to jams,</p>
            <p>juices and pickles.</p> 
            
            <p>Attentive but informal, simple but sophisticated.</p>

            <h2 class="link"><a href="/HIDE/reservation">BOOK A TABLE</a></h2>
    </head>
    <article>
            <h2> MENUS </h2>
        <div class="menus">
                <div class="items">
                <h2><a href="static/img/Project_Menu__Testing_menu.pdf"> A LA CARTE</a></h2>
                <img src="/static/img/A LA CARTE.jpeg" alt="menu picture">
                <p>An extensive a la carte menu is served every day on the ground floor. Be it a light bite from the grazing menu, long lunch or celebratory dinner; there is something for everyone.</p>

                <p>Reflective of HIDE’s signature style and lightness of touch, dishes are simple, seasonal, nourishing & delicious.</p>

                <h2>MONDAY - THURSDAY:</h2>
                <h2>12:00PM -2.15PM & 6:00PM 9:30PM</h2>
                <h2>FRIDAY:</h2>
                <h2>12:00PM - 2:15PM & 6:00PM - 9:30PM </h2>
                <h2>SATURDAY - SUNDAY</h2>
                <h2>12:30PM - 2:45PM & 6:00PM - 9:30PM</h2>
            </div>

            <div class="items">
                <h2><a href="static/img/Project_Menu__Testing_menu.pdf">  TESTING MENUS </a></h2>
                <img src="/static/img/TestingMenu.jpeg" alt="menu picture" >
                <p>A frequently changing seasonal set lunch, available every day & easily enjoyed within an hour.</p>

                <h2>MONDAY - THURSDAY:</h2>
                <h2>12:00PM -2.15PM </h2>
                <h2>SATURDAY - SUNDAY</h2>
                <h2>12:30PM - 2:45PM </h2>
            </div>
        </div>
            <h2> GALLERY</h2>
           <div class="gallary">
            <img class="one" src="/static/img/1.jpeg" >
            <img class="one" src="/static/img/2.jpeg" >
            <img class="one" src="/static/img/3.jpeg" >
            <img class="one" src="/static/img/4.jpeg" >
            <img class="two" src="/static/img/5.jpeg" >
            <img class="two" src="/static/img/6.jpeg" >
            <img class="one" src="/static/img/7.jpeg" >
            <img class="one" src="/static/img/8.jpeg" >
            <img class="one" src="/static/img/9.jpeg" >
            <img class="one" src="/static/img/10.jpeg">
            <img class="two" src="/static/img/11.jpeg">
            <img  class="two" src="/static/img/12.jpeg">
        </div>
    </article>


</section>







  {% endblock %}
